/********** Template CSS **********/
:root {
    --primary: #8ABE53;
    --secondary: #D9D9D9;
    --light: #EEF9FF;
    --dark: #091E3E;
}


/*** Spinner ***/


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 800 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 600 !important;
}

/* button */
.btn-utama{
    color:#FFFFFF;
    background-color: #8ABE53;
    border-radius: 5px;
}
.btn-second{
    background-color:#FFFFFF;
    color: #8ABE53;
    border-radius: 5px;
}

.form-border {
    border: 1px solid #ddd;
    padding: 30px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
.search{
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    
}
.bg-header{
    padding: 65px;
    padding-bottom: 100px;
    background-color: #FFFAEB;
}
.navigasi{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
/* content */
.judul-content{
    text-align: center;
    padding: 40px;
}
.content1{
    text-align: center;
    justify-content: center;
}
.content2{
    margin-top:150px;
     margin-left:60px;
}
.content3{
    text-align: center;
    border: 1px solid #ddd;
    padding:40px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.content4{
    padding: 90px;
    text-align: center;
}
.color-content4{
    padding: 20px;
    background-color: #FFFAEB;
    margin: 65px;
    border: 1px solid #ddd;
    border-radius: 100px;
}
.jarak{
    padding: 50px;
}
/* content end */

.footer-bg{
    background-color: #D9D9D9;
    padding: 50px;
}
.navigasi-active{
    color: #8ABE53;
    text-size: bold;
}
.navigasi-active:hover{
    color: #D9D9D9;
    text-size: bold;
}
.navigasi-nonactive{
    color: #D9D9D9;
}
.navigasi-nonactive:hover{
    color: #8ABE53;
}
/* login */
.login1{
    background-color: #FFFAEB;
    padding: 90px;
}
#country{
    border: 1px solid #ddd;
    padding: 9px;
    margin-top: 50px;
}
.phone{
    border: 1px solid #ddd;
    padding: 7px;
}
.center{
    justify-content: center;
    align-items: center;
    display: flex;
}
.copyright{
    padding-top: 200px;
}
.side{
    padding-bottom: 650px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.card{
    border-radius: 5px;
}
.form-floating{
    margin : 10px;
}
.form-group{
    margin : 15px;
}

    #icon-tanggal {
        display: inline-block;
        width: 10px;
        height: 10px;
        vertical-align: middle;
        margin-left: 5px;
    }

    #icon-tanggal::before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        border-color: #000000 transparent transparent transparent;
    }

    a {
        text-decoration: none; /* Hilangkan gaya garis bawah pada tautan */
        color: inherit; /* Gunakan warna teks dari induknya (warna default) */
      }
    .b1{
        border: 1px solid #000000;
        padding: 20px;
        border-radius: 5px;
        margin: 20px;
    }